[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
flake8 = "*"
pytest = "*"
pytest-cov = "*"
tox = "*"
black = "==20.8b1"
isort = "*"

[packages]
python_scripts = {editable = true,path = "."}

[requires]
python_version = "3.7"
